.DS_Store
.mono
.oh-my-zsh
/bunt/wallpaper
/coc/
/configstore/
/iterm2/AppSupport
/neofetch/
/nvim/plugged/
/nvim/config/active_theme.vim
/pywal-discord/
/spicetify_data/Backup/
/spicetify_data/Extracted/
/spicetify_data/CustomApps/
/spotify-tui/
/wal/
/zathura/

