.DS_Store
.mono
.oh-my-zsh
/Autodesk/
/bunt/wallpaper
/coc/
/configstore/
/github-copilot/
/htop/
/iterm2/AppSupport
/neofetch/
/nvim/plugged/
/nvim/config/active_theme.vim
/pywal-discord/
/spicetify/Backup/
/spicetify/Extracted/
/spicetify/CustomApps/
/spotify-cli/
/spotify-tui/
/wal/

